streamlit==1.44.1

# Machine Learning & Data
numpy
pandas
scikit-learn==1.6.1

# Model loading

# LangChain core
langchain
langchain-core
langchain-google-genai

# Environment variables
python-dotenv
